.loading-screen {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-container {
  display: flex;
  flex-direction: column;
  .error-bar {
    height: 50px;
    color: white;
    text-align: center;
    line-height: 50px;
    background-color: red;
  }
  .header {
    padding: 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    .temperature-scale {
      display: flex;
      flex-grow: 1;
      justify-content: center;
      padding: 20px 0;
    }
  }
  
  .buttons-container {
    padding: 20px 15px 15px 15px;
    display: flex;
    justify-content: space-between;
  }
  .temp-cards {
    display: flex;
    padding: 20px 10px 60px 10px;
  }
}
